<div class="modal fade" id="exportModal" role="dialog" aria-labelledby="Help" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only" exportmodules>Close</span>
                </button>
                <h4 class="modal-title" id="Help">Module(s) Exporten</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("ExportAllModules", "Module", FormMethod.Post, new { id = "exportForm", onsubmit = "exportOnSubmit()" }))
                {
                    <div id="exportAlert"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="checkbox">
                                <label>
                                    <input name="Export.CursusCode" type="checkbox" value="true"> Cursuscode
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="Export.Naam" type="checkbox" value="true"> Naam
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="Export.Beschrijving" type="checkbox" value="true"> Beschrijving
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="Export.AlgemeneInformatie" type="checkbox" value="true"> Algemene Informatie
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="Export.Studiebelasting" type="checkbox" value="true"> Studiebelasting
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="Export.Organisatie" type="checkbox" value="true"> Organisatie
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="Export.Weekplanning" type="checkbox" value="true"> Weekplanning
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="checkbox">
                                <label>
                                    <input name="Export.Beoordeling" type="checkbox" value="true"> Beoordeling
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="Export.Leermiddelen" type="checkbox" value="true"> Leermiddelen
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="Export.Leerdoelen" type="checkbox" value="true"> Leerdoelen
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="Export.Competenties" type="checkbox" value="true"> Competenties
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="Export.Leerlijnen" type="checkbox" value="true"> Leerlijnen
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="Export.Tags" type="checkbox" value="true"> Tags
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Annuleren</button>
                        <button type="submit" id="exportModules" type="button" class="btn btn-success"><i class="fa fa-download"></i> Exporteren</button>
                    </div>
                }

            </div>
        </div>
    </div>
</div>		